<form #registerForm = "ngForm" (ngSubmit)="register()" >
  <h2 class="text-center text-dark">Sign Up</h2>
  <hr>
  <div class="mb-2 form-floating">
    <input
      type="text"
      class="form-control"
      name="userName"
      [(ngModel)]="model.UserName"
      placeholder="UserName"
      >
    <label>Username</label>
  </div>

  <div class="mb-3">
    <label>Who is your favourite user?</label>
    <select class="form-select">
      @for(user of usersFromHomeComponent ; track $index)
      {
        <option [value]="user.userName">{{user.userName}}</option>
      }
    </select>
  </div>


  <div class="mb-2 form-floating">
    <input
      type="password"
      class="form-control"
      name="Password"
      [(ngModel)]="model.Password"
      placeholder="Password"
    >
    <label>Password</label>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Register !</button>
    <button class="btn btn-danger me-2" type="button" (click)="cancelRegisterMode()">Cancel</button>
  </div>
</form>
